<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Mail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.mail %></td>
        <td><button type="button" class="btn btn-s btn-primary"><%= link_to 'Show', user %></td></button>
        <td><button type="button" class="btn btn-s btn-success"><%= link_to 'Edit', edit_user_path(user) %></td></button>
        <td><button type="button" class="btn btn-s btn-warning"><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td></button>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-s btn-info"><%= link_to 'New User', new_user_path %></button>
